@inherits LayoutComponentBase

@inject TooltipService tooltipService

<HeadContent>
    <RadzenTheme Theme="material" />
</HeadContent>

<RadzenLayout>
    <RadzenStack Orientation="Orientation.Horizontal" Style="height: 100vh; width: 100vh">

        <!-- Navigation Sidebar -->
        <NavMenuSidebar @bind-IsContextSidebarExpanded="isContextSidebarExpanded" />

        <!-- Context Sidebar -->
        <RadzenStack Orientation="Orientation.Vertical" class="h-100" Visible="@(isContextSidebarExpanded)">
            <RadzenMenu Style="background-color: white" class="w-100; justify-content-center">
                <RadzenMenuItem Icon="center_focus_weak" IconColor="black" MouseEnter="@(args => ShowTooltip(args, "Focus on Opened Tab"))" />
                <RadzenMenuItem Icon="search" IconColor="black" MouseEnter="@(args => ShowTooltip(args, "Search"))" />
            </RadzenMenu>

            <RadzenSidebar class="h-100">
                @Body
            </RadzenSidebar>
        </RadzenStack>

        <RadzenStack Orientation="Orientation.Vertical" class="h-100 w-100">

            <!-- Tab Header -->
            <RadzenTabs @bind-SelectedIndex="@selectedTabIndex" Change="@OnChange" RenderMode="TabRenderMode.Client" class="w-100">
                <Tabs>
                    <RadzenTabsItem Text="Homepage" />
                    <RadzenTabsItem Text="Things to Try" />
                </Tabs>
            </RadzenTabs>

            <!-- Tab Content -->
            <RadzenBody class="h-100">
                <p>Tab specific content will go here</p>
            </RadzenBody>

        </RadzenStack>

    </RadzenStack>

</RadzenLayout>

<RadzenComponents />

@code {
    private bool isContextSidebarExpanded = true;
    private int selectedTabIndex = 0;

    void OnChange(int index)
    {

    }

    void ShowTooltip(ElementReference elementReference, string tooltip)
        => tooltipService.Open(elementReference, tooltip);
}